<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Luxstay</title>
  <base href="/assets/">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css" />
  <link rel="stylesheet" href="assets/fonts/font-awesome.min.css" />
  <link rel="stylesheet" href="assets/fonts/ionicons.min.css" />
  <link rel="stylesheet" href="assets/fonts/line-awesome.min.css" />
  <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css" />
  <link rel="stylesheet" href="assets/css/A-working-Rating-option-for-Contact-Forms.css" />
  <link rel="stylesheet" href="assets/css/Card-slider-sk.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css" />
  <link rel="stylesheet" href="assets/css/Login-Form-Dark.css" />
  <link rel="stylesheet" href="assets/css/Media-Slider-Bootstrap-3-1.css" />
  <link rel="stylesheet" href="assets/css/Media-Slider-Bootstrap-3.css" />
  <link rel="stylesheet" href="assets/css/Navigation-Clean.css" />
  <link rel="stylesheet" href="assets/css/Navigation-with-Search.css" />
  <link rel="stylesheet" href="assets/css/Simple-Slider.css" />
  <link rel="stylesheet" href="assets/css/Social-Icons.css" />
  <link rel="stylesheet" href="assets/css/styles.css" />

</head>

<body>
  <div id="container"></div>
  <script src="/assets/js/app/dist/app.js"></script>
  {{!-- <a href="/auth/facebook"><button class="button button-primary">Facebook</button></a></a> --}}

</body>

</html>